# Index Data

Sheet designed to aggregate all the useful data and store it in a database.

In [5]:
import pandas as pd
import hvplot.pandas
import sqlalchemy
from dotenv import load_dotenv
from pathlib import Path
import requests
import json
import os
import time

load_dotenv('data/.env')
AVAPI = os.getenv('Alpha_Vantage_API')

database_connection_string = 'sqlite:///SP500.db'
engine = sqlalchemy.create_engine(database_connection_string)

Load DataFrames from the Databases that were constructed below

In [6]:
SP500_CSSO = pd.read_sql_table('SP500 CSSO', engine)
SP500_CSSO.head()

,index,AAPL,GOOGL,GOOG,MSFT,AMZN,FB,JPM,JNJ,XOM,...,FLS,HRB,UA,PWR,AIZ,NAVI,RRC,PDCO,SIG,CHK
0,2013-06-30,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2013-09-30,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2013-12-31,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,2014-03-31,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,2014-06-30,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [7]:
SP500_Cons_Adj = pd.read_sql_table('SP500 Cons Adjusted', engine)
SP500_Cons_Adj.head()

,index,AAPL,GOOGL,GOOG,MSFT,AMZN,FB,JPM,JNJ,XOM,...,UA,PWR,CSRA,AIZ,EVHC,NAVI,RRC,PDCO,SIG,CHK
0,1999-11-01,0.593355,NaN,NaN,29.221068,69.13,NaN,28.189088,30.008308,18.842030,...,NaN,18.060058,NaN,NaN,NaN,NaN,2.425223,7.964985,10.762833,NaN
1,1999-11-02,0.613460,NaN,NaN,29.281175,66.44,NaN,28.232943,29.265952,18.683228,...,NaN,18.020568,NaN,NaN,NaN,NaN,2.581689,7.975846,10.762833,NaN
2,1999-11-03,0.623015,NaN,NaN,29.104020,65.81,NaN,27.811254,29.779891,18.400912,...,NaN,18.514192,NaN,NaN,NaN,NaN,2.425223,7.988518,10.762833,NaN
3,1999-11-04,0.639221,NaN,NaN,29.024933,63.06,NaN,28.378004,30.065412,18.400912,...,NaN,20.982313,NaN,NaN,NaN,NaN,2.386420,7.445451,10.973869,NaN
4,1999-11-05,0.675073,NaN,NaN,28.964827,64.94,NaN,29.096563,30.122517,17.800992,...,NaN,20.857261,NaN,NaN,NaN,NaN,2.308187,7.331407,10.813481,NaN

In [8]:
SP500_Cons_Close = pd.read_sql_table('SP500 Cons Closing', engine)
SP500_Cons_Close.head()

,index,AAPL,GOOGL,GOOG,MSFT,AMZN,FB,JPM,JNJ,XOM,...,UA,PWR,CSRA,AIZ,EVHC,NAVI,RRC,PDCO,SIG,CHK
0,1999-11-01,77.62,NaN,NaN,92.37,69.13,NaN,83.56,105.1,74.75,...,NaN,27.44,NaN,NaN,NaN,NaN,3.875,44.00,25.50,NaN
1,1999-11-02,80.25,NaN,NaN,92.56,66.44,NaN,83.69,102.5,74.12,...,NaN,27.38,NaN,NaN,NaN,NaN,4.125,44.06,25.50,NaN
2,1999-11-03,81.50,NaN,NaN,92.00,65.81,NaN,82.44,104.3,73.00,...,NaN,28.13,NaN,NaN,NaN,NaN,3.875,44.13,25.50,NaN
3,1999-11-04,83.62,NaN,NaN,91.75,63.06,NaN,84.12,105.3,73.00,...,NaN,31.88,NaN,NaN,NaN,NaN,3.813,41.13,26.00,NaN
4,1999-11-05,88.31,NaN,NaN,91.56,64.94,NaN,86.25,105.5,70.62,...,NaN,31.69,NaN,NaN,NaN,NaN,3.688,40.50,25.62,NaN

### Import SP500  Closing Data

from https://www.spglobal.com/spdji/en/indices/equity/sp-500/#overview

In [10]:
SP500_Data = pd.read_csv(Path("Data/SP500to2012.csv"), index_col='Date', parse_dates=True, infer_datetime_format=True)
SP500_Data = SP500_Data.astype({'Close':'float64'})
SP500_Data.head()

              Close
Date
2012-01-31  1312.41
2012-02-01  1324.09
2012-02-02  1325.54
2012-02-03  1344.90
2012-02-06  1344.33

### Import SP500 Changes

from: https://analyzingalpha.com/sp500-historical-components-and-changes

In [11]:
SP500_Changes = pd.read_csv(Path("Data/SP500_changes.csv"), index_col='date', parse_dates=True, infer_datetime_format=True)
SP500_Changes.head()

            Unnamed: 0 ticker                    name   action  cik
date
2016-09-08         112   CHTR  Charter Communications    added  NaN
2016-09-08         112    EMC         EMC Corporation  removed  NaN
2016-09-06         113    MTD          Mettler Toledo    added  NaN
2016-09-06         113    TYC      Tyco International  removed  NaN
2012-09-05         208    LYB          LyondellBasell    added  NaN

### Import ETF AUM DATA

In [12]:
ETF_Data = pd.read_csv(Path("Data/ETFAUM.csv"), index_col='Date', parse_dates=True, infer_datetime_format=True)
ETF_Data = ETF_Data.astype({'SPY': 'float64', 'IVV': 'float64', 'VOO': 'float64', 'SP500': 'float64'})
ETF_Data

               SPY     IVV     VOO    SP500
Date
2021-12-31  455.22  334.71  279.84  40360.0
2020-12-31  329.02  238.85  176.98  31660.0
2019-12-31  307.39  201.41  130.18  26760.0
2018-12-31  243.39  149.37   89.40  21030.0
2017-12-29  277.54  141.49   83.68  22820.0
2016-12-30  224.82   90.60   56.49  19270.0
2015-12-31  182.04   70.35   40.62  17960.0
2014-12-31  215.91   69.69   27.76  18250.0
2013-12-31  174.85   53.70   14.82  16490.0
2012-12-31  123.00   34.91    6.45  12740.0
2011-12-30   95.40   26.23    2.36  11390.0

### Import Constituent Info
Primarily used for the Tickers, everything else is out of date.

From: https://datahub.io/core/s-and-p-500-companies-financials#resource-constituents-financials

In [13]:
SP500_Constituents_details = pd.read_csv(Path("Data/constituents_financials.csv"), index_col='Symbol')
SP500_Constituents_details = SP500_Constituents_details.sort_values(by=['Market Cap'], ascending=False)
SP500_Constituents_details.head()

,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,
AAPL,Apple Inc.,Information Technology,155.15,16.86,1.579541,9.20,180.10,131.1200,8.095080e+11,7.938600e+10,3.458609,5.66,http://www.sec.gov/cgi-bin/browse-edgar?action...
GOOGL,Alphabet Inc Class A,Information Technology,1007.71,31.48,0.000000,22.27,1198.00,824.3000,7.338240e+11,3.421700e+10,6.801692,4.70,http://www.sec.gov/cgi-bin/browse-edgar?action...
GOOG,Alphabet Inc Class C,Information Technology,1001.52,40.29,0.000000,22.27,1186.89,803.1903,7.285360e+11,3.271400e+10,6.772653,4.67,http://www.sec.gov/cgi-bin/browse-edgar?action...
MSFT,Microsoft Corp.,Information Technology,85.01,25.76,1.874791,2.97,96.07,63.2200,6.899780e+11,4.107900e+10,7.113097,9.49,http://www.sec.gov/cgi-bin/browse-edgar?action...
AMZN,Amazon.com Inc,Consumer Discretionary,1350.50,296.16,0.000000,6.16,1498.00,812.5000,6.858730e+11,1.613200e+10,3.927053,24.28,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [16]:
SP500_List = SP500_Constituents_details.index.tolist()
# COMMENTED OUT because its long
#SP500_List

In [17]:
pd.DataFrame(SP500_List).to_sql('SP500_Cons', engine)

### Import an Individual Stock Ticker

from: Alpha Advantage API https://www.alphavantage.co/documentation/#dailyadj

In [49]:
# This is for Non-Premium
# url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&outputsize=full&apikey={AVAPI}'
# r = requests.get(url)
# data = r.json()
# COMMENTED OUT because its really long
# print(json.dumps(data, indent=4, sort_keys=True))

# With Premium
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=IBM&outputsize=full&apikey={AVAPI}'
r = requests.get(url)
data = r.json()
# COMMENTED OUT because its really long
# print(json.dumps(data, indent=4, sort_keys=True))

In [50]:
df=pd.DataFrame.from_dict(data['Time Series (Daily)'], orient="index")
df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2022-02-09,137.84,138.35,136.83,137.79,137.79,5387672,0.0000,1.0
2022-02-08,137.23,137.52,135.78,137.02,137.02,4181825,0.0000,1.0
2022-02-07,137.45,137.8223,136.27,137.24,137.24,3759046,0.0000,1.0
2022-02-04,137.86,138.82,136.215,137.15,137.15,4142045,0.0000,1.0
2022-02-03,137.0,138.76,135.831,137.78,137.78,6100777,0.0000,1.0

### Aggregate Constituent DF

Create the table, with AAPL, then append the rest of the table with a for loop

from: Alpha Advantage API https://www.alphavantage.co/documentation/#dailyadj

In [70]:
## PULLING ADJUSTED PRICE

def BuildStockColumns(stock):
    # API call and turn into a dataframe
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={stock}&outputsize=full&apikey={AVAPI}'
    response = requests.get(url)
    data = response.json()
    df = pd.DataFrame.from_dict(data['Time Series (Daily)'], orient="index")
    
    # Rename columns and delete unused data, saving dividends in case used in the future
    df.rename(columns={'4. close':'close', '5. adjusted close':'adjusted','7. dividend amount':'dividend','8. split coefficient':'split'}, inplace=True)
    df.drop(columns={'1. open','2. high','3. low','6. volume'}, inplace=True)
    
    # Turn strings into floats
    df = df.astype({'close': 'float64', 'adjusted': 'float64', 'dividend': 'float64', 'split': 'float64'})
    return df

def BuildDBColumnADJ(stock):
    dbdf = BuildStockColumns(stock)
    dbdf.rename(columns={'adjusted': stock}, inplace=True)
    dbdf.drop(columns={'close','dividend','split'}, inplace=True)    
    return dbdf

def BuildDBColumnCLOSE(stock):
    dbdf = BuildStockColumns(stock)
    dbdf.rename(columns={'close':stock}, inplace=True)
    dbdf.drop(columns={'adjusted','dividend','split'}, inplace=True)    
    return dbdf
    

AAPL_df= BuildDBColumnCLOSE('AAPL')

In [71]:
AAPL_df

              AAPL
2022-02-09  176.28
2022-02-08  174.83
2022-02-07  171.66
2022-02-04  172.39
2022-02-03  172.90
...            ...
1999-11-05   88.31
1999-11-04   83.62
1999-11-03   81.50
1999-11-02   80.25
1999-11-01   77.62

[5606 rows x 1 columns]

This is all commented out because it only needs to be done to build the DB.

In [ ]:
# merged_df = AAPL_df

In [79]:
SP500_index = 100
target_index = 505
merged_df.head()

,AAPL,GOOGL,GOOG,MSFT,AMZN,FB,JPM,JNJ,XOM,BAC,...,GD,CL,GM,ANTM,EOG,AMT,AET,RTN,NOC,SYK
1999-11-01,77.62,NaN,NaN,92.37,69.13,NaN,83.56,105.1,74.75,64.87,...,55.00,61.81,NaN,NaN,21.00,18.94,51.94,29.06,54.81,62.44
1999-11-02,80.25,NaN,NaN,92.56,66.44,NaN,83.69,102.5,74.12,64.25,...,54.25,59.94,NaN,NaN,19.25,19.38,55.00,28.94,54.75,64.00
1999-11-03,81.50,NaN,NaN,92.00,65.81,NaN,82.44,104.3,73.00,63.00,...,55.56,57.75,NaN,NaN,19.69,19.75,54.00,28.00,55.00,65.56
1999-11-04,83.62,NaN,NaN,91.75,63.06,NaN,84.12,105.3,73.00,63.50,...,54.00,57.06,NaN,NaN,18.94,19.94,52.25,27.50,55.00,67.13
1999-11-05,88.31,NaN,NaN,91.56,64.94,NaN,86.25,105.5,70.62,65.06,...,54.13,57.63,NaN,NaN,18.31,20.75,53.44,27.81,54.69,66.13

### Pull all SP500 stocks
This iterates through all the stocks in the list of SP500 stocks and calls the API function.

It prints out what stock its trying to pull and the time so it can be monitored, when an error occurs,
the index can be adjust above and the process restarted, skipping the erroneous stock.

from: Alpha Advantage API https://www.alphavantage.co/documentation/#dailyadj

In [81]:
# # PULLING ADJUSTED
# # It will skip those that do not return an accurate response

# while SP500_index < target_index:
#     index = SP500_index
#     SP500_index+=1
#     print(time.ctime())
#     print(f'Index: {index}, stock: {SP500_List[index]}')
#     try:
#         index_df = BuildDBColumnADJ(SP500_List[index])
#     except:
#         print(f'Skipped: {SP500_List[index]}')
#         continue
#     merged_df = pd.merge(merged_df, index_df, how='outer', left_index=True, right_index=True)
#     # Not Needed with Premium
#     # time.sleep(20)

In [87]:
# # PULLING CLOSING

# while SP500_index < target_index:
#     index = SP500_index
#     SP500_index+=1
#     print(time.ctime())
#     print(f'Index: {index}, stock: {SP500_List[index]}')
#     try:
#         index_df = BuildDBColumnCLOSE(SP500_List[index])
#     except:
#         print(f'Skipped: {SP500_List[index]}')
#         continue
#     merged_df = pd.merge(merged_df, index_df, how='outer', left_index=True, right_index=True)
#     # Not Needed with Premium
#     # time.sleep(20)

This is a record of all the stocks that did not return properly.

Missed Stocks: AGN(99), BBT(138), APC(179), RHT(235), COL(239), CXO(241), MYL(247), WLTW(262), CBS(265), LB(343), COG(406), COG(416), VAR(420), TMK(436), BF.B(491), SCG(496)

In [82]:
# missing_stocks = [99,138,179,235,239,241,247,262,343,406,416,420,436,491,496]
merged_df

,AAPL,GOOGL,GOOG,MSFT,AMZN,FB,JPM,JNJ,XOM,BAC,...,UA,PWR,CSRA,AIZ,EVHC,NAVI,RRC,PDCO,SIG,CHK
1999-11-01,77.62,NaN,NaN,92.37,69.13,NaN,83.56,105.10,74.75,64.87,...,NaN,27.44,NaN,NaN,NaN,NaN,3.875,44.00,25.50,NaN
1999-11-02,80.25,NaN,NaN,92.56,66.44,NaN,83.69,102.50,74.12,64.25,...,NaN,27.38,NaN,NaN,NaN,NaN,4.125,44.06,25.50,NaN
1999-11-03,81.50,NaN,NaN,92.00,65.81,NaN,82.44,104.30,73.00,63.00,...,NaN,28.13,NaN,NaN,NaN,NaN,3.875,44.13,25.50,NaN
1999-11-04,83.62,NaN,NaN,91.75,63.06,NaN,84.12,105.30,73.00,63.50,...,NaN,31.88,NaN,NaN,NaN,NaN,3.813,41.13,26.00,NaN
1999-11-05,88.31,NaN,NaN,91.56,64.94,NaN,86.25,105.50,70.62,65.06,...,NaN,31.69,NaN,NaN,NaN,NaN,3.688,40.50,25.62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-03,172.90,2861.80,2853.01,301.25,2776.91,237.76,148.70,172.76,79.68,46.43,...,16.16,101.47,NaN,151.80,NaN,17.57,20.450,27.93,81.80,67.69
2022-02-04,172.39,2865.86,2860.32,305.94,3152.79,237.09,152.56,171.63,81.41,48.28,...,16.43,99.95,NaN,153.07,NaN,17.82,20.380,27.97,84.19,66.98
2022-02-07,171.66,2784.02,2778.76,300.95,3158.71,224.91,153.07,171.06,82.39,48.51,...,16.58,98.87,NaN,152.74,NaN,18.06,19.960,27.50,82.32,66.79
2022-02-08,174.83,2787.98,2784.26,304.56,3228.27,220.18,155.95,171.51,80.26,49.38,...,16.94,102.25,NaN,156.04,NaN,18.51,19.060,28.23,84.20,65.72
2022-02-09,176.28,2831.84,2829.06,311.21,3223.79,232.00,156.60,171.49,79.00,49.28,...,17.46,106.27,NaN,166.56,NaN,18.87,19.240,28.24,86.56,65.68

In [12]:
# Used to initialize the table  DO NOT OVERWRITE IT!!!!
# PULLING ADJUSTED
# merged_df.to_sql('SP500 Cons Adjusted', engine)

In [83]:
# Used to initialize the table  DO NOT OVERWRITE IT!!!!
# PULLING CLOSE
# merged_df.to_sql('SP500 Cons Closing', engine)

In [18]:
engine.table_names()

C:\Users\canav\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['SP500 CSSO', 'SP500 Cons Adjusted', 'SP500 Cons Closing', 'SP500_Cons']

### Pull Market Capitilization Data

from: Alpha Advantage API https://www.alphavantage.co/documentation/#dailyadj

In [14]:
def BuildCSSOShares(stock):
    url = f'https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol={stock}&apikey={AVAPI}'
    response = requests.get(url)
    data = response.json()
    # print(json.dumps(data, indent=4, sort_keys=True))
    stock_dict = {}
    for qrpt in data['quarterlyReports']:
        csso = qrpt['commonStockSharesOutstanding']
        date = qrpt['fiscalDateEnding']
        stock_dict[date] = csso
    stock_df = pd.DataFrame.from_dict(stock_dict, orient='index')
    stock_df.rename(columns={0:stock}, inplace=True)
    return stock_df

Create the initial Dataframe to merge the rest of the stocks.

In [15]:
# Dangerous to activate, resets merged CSSO
# Merged_CSSO = BuildCSSOShares('AAPL')

In [11]:
CSSO_index = 100
CSSO_target_index = 505
Merged_CSSO.head()

NameError: name 'Merged_CSSO' is not defined

In [33]:
# Commented out, only needs to be done once

# while CSSO_index < CSSO_target_index:
#     index = CSSO_index
#     CSSO_index+=1
#     print(time.ctime())
#     print(f'Index: {index}, stock: {SP500_List[index]}')
#     try:
#         index_df = BuildCSSOShares(SP500_List[index])
#     except:
#         print(f'Skipped: {SP500_List[index]}')
#         continue
#     Merged_CSSO = pd.merge(Merged_CSSO, index_df, how='outer', left_index=True, right_index=True)
#     # Not Needed with Premium
#     # time.sleep(20)

Tue Feb  8 15:58:58 2022
Index: 100, stock: BK
Tue Feb  8 15:58:58 2022
Index: 101, stock: ITW
Tue Feb  8 15:58:59 2022
Index: 102, stock: CME
Tue Feb  8 15:58:59 2022
Index: 103, stock: AIG
Tue Feb  8 15:59:00 2022
Index: 104, stock: OXY
Tue Feb  8 15:59:00 2022
Index: 105, stock: MON
Tue Feb  8 15:59:01 2022
Index: 106, stock: ATVI
Tue Feb  8 15:59:03 2022
Index: 107, stock: DE
Tue Feb  8 15:59:06 2022
Index: 108, stock: DUK
Tue Feb  8 15:59:09 2022
Index: 109, stock: AMAT
Tue Feb  8 15:59:12 2022
Index: 110, stock: BDX
Tue Feb  8 15:59:14 2022
Index: 111, stock: MAR
Tue Feb  8 15:59:16 2022
Index: 112, stock: ADP
Tue Feb  8 15:59:17 2022
Index: 113, stock: EL
Tue Feb  8 15:59:19 2022
Index: 114, stock: CCL
Tue Feb  8 15:59:23 2022
Index: 115, stock: MET
Tue Feb  8 15:59:24 2022
Index: 116, stock: MU
Tue Feb  8 15:59:25 2022
Index: 117, stock: TJX
Tue Feb  8 15:59:25 2022
Index: 118, stock: SPG
Tue Feb  8 15:59:26 2022
Index: 119, stock: PSX
Tue Feb  8 15:59:27 2022
Index: 120, stock: CI
Tue Feb  8 15:59:28 2022
Index: 121, stock: COF
Tue Feb  8 15:59:29 2022
Index: 122, stock: D
Tue Feb  8 15:59:30 2022
Index: 123, stock: CSX
Tue Feb  8 15:59:31 2022
Index: 124, stock: PRU
Tue Feb  8 15:59:33 2022
Index: 125, stock: SPGI
Tue Feb  8 15:59:34 2022
Index: 126, stock: CTSH
Tue Feb  8 15:59:35 2022
Index: 127, stock: ISRG
Tue Feb  8 15:59:37 2022
Index: 128, stock: EBAY
Tue Feb  8 15:59:38 2022
Index: 129, stock: CCI
Tue Feb  8 15:59:39 2022
Index: 130, stock: EMR
Tue Feb  8 15:59:39 2022
Index: 131, stock: FOXA
Tue Feb  8 15:59:40 2022
Index: 132, stock: LYB
Tue Feb  8 15:59:41 2022
Index: 133, stock: SO
Tue Feb  8 15:59:43 2022
Index: 134, stock: HAL
Tue Feb  8 15:59:44 2022
Index: 135, stock: PX
Tue Feb  8 15:59:47 2022
Index: 136, stock: ESRX
Skipped: ESRX
Tue Feb  8 15:59:51 2022
Index: 137, stock: F
Tue Feb  8 15:59:52 2022
Index: 138, stock: BBT
Skipped: BBT
Tue Feb  8 15:59:52 2022
Index: 139, stock: MMC
Tue Feb  8 15:59:52 2022
Index: 140, stock: STZ
Tue Feb  8 15:59:54 2022
Index: 141, stock: ICE
Tue Feb  8 15:59:55 2022
Index: 142, stock: INTU
Tue Feb  8 15:59:56 2022
Index: 143, stock: NSC
Tue Feb  8 15:59:57 2022
Index: 144, stock: TGT
Tue Feb  8 15:59:58 2022
Index: 145, stock: KMB
Tue Feb  8 15:59:58 2022
Index: 146, stock: VRTX
Tue Feb  8 15:59:59 2022
Index: 147, stock: VLO
Tue Feb  8 15:59:59 2022
Index: 148, stock: TRV
Tue Feb  8 16:00:00 2022
Index: 149, stock: KMI
Tue Feb  8 16:00:01 2022
Index: 150, stock: ECL
Tue Feb  8 16:00:02 2022
Index: 151, stock: DAL
Tue Feb  8 16:00:07 2022
Index: 152, stock: STT
Tue Feb  8 16:00:21 2022
Index: 153, stock: EA
Tue Feb  8 16:00:22 2022
Index: 154, stock: SHW
Tue Feb  8 16:00:22 2022
Index: 155, stock: HUM
Tue Feb  8 16:00:30 2022
Index: 156, stock: MNST
Tue Feb  8 16:00:31 2022
Index: 157, stock: BSX
Tue Feb  8 16:00:31 2022
Index: 158, stock: ZTS
Tue Feb  8 16:00:32 2022
Index: 159, stock: ETN
Tue Feb  8 16:00:33 2022
Index: 160, stock: REGN
Tue Feb  8 16:00:34 2022
Index: 161, stock: BAX
Tue Feb  8 16:00:35 2022
Index: 162, stock: WM
Tue Feb  8 16:00:35 2022
Index: 163, stock: AON
Tue Feb  8 16:00:36 2022
Index: 164, stock: TEL
Tue Feb  8 16:00:37 2022
Index: 165, stock: HPQ
Tue Feb  8 16:00:37 2022
Index: 166, stock: JCI
Tue Feb  8 16:00:37 2022
Index: 167, stock: ALL
Tue Feb  8 16:00:38 2022
Index: 168, stock: EXC
Tue Feb  8 16:00:38 2022
Index: 169, stock: APD
Tue Feb  8 16:00:41 2022
Index: 170, stock: HCA
Tue Feb  8 16:00:41 2022
Index: 171, stock: LUV
Tue Feb  8 16:00:42 2022
Index: 172, stock: AFL
Tue Feb  8 16:00:42 2022
Index: 173, stock: EQIX
Tue Feb  8 16:00:43 2022
Index: 174, stock: BHGE
Skipped: BHGE
Tue Feb  8 16:00:43 2022
Index: 175, stock: STI
Skipped: STI
Tue Feb  8 16:00:44 2022
Index: 176, stock: FIS
Tue Feb  8 16:00:45 2022
Index: 177, stock: ILMN
Tue Feb  8 16:00:45 2022
Index: 178, stock: PSA
Tue Feb  8 16:00:46 2022
Index: 179, stock: APC
Skipped: APC
Tue Feb  8 16:00:46 2022
Index: 180, stock: PLD
Tue Feb  8 16:00:46 2022
Index: 181, stock: ADI
Tue Feb  8 16:00:47 2022
Index: 182, stock: VFC
Tue Feb  8 16:00:47 2022
Index: 183, stock: AEP
Tue Feb  8 16:00:48 2022
Index: 184, stock: MPC
Tue Feb  8 16:00:48 2022
Index: 185, stock: MCK
Tue Feb  8 16:00:49 2022
Index: 186, stock: GIS
Tue Feb  8 16:00:49 2022
Index: 187, stock: PGR
Tue Feb  8 16:00:51 2022
Index: 188, stock: SYY
Tue Feb  8 16:00:51 2022
Index: 189, stock: MCO
Tue Feb  8 16:00:51 2022
Index: 190, stock: PXD
Tue Feb  8 16:00:53 2022
Index: 191, stock: ROST
Tue Feb  8 16:00:53 2022
Index: 192, stock: PPG
Tue Feb  8 16:00:53 2022
Index: 193, stock: SYF
Tue Feb  8 16:00:54 2022
Index: 194, stock: CMI
Tue Feb  8 16:00:54 2022
Index: 195, stock: LRCX
Tue Feb  8 16:00:55 2022
Index: 196, stock: MTB
Tue Feb  8 16:00:55 2022
Index: 197, stock: EW
Tue Feb  8 16:00:56 2022
Index: 198, stock: DFS
Tue Feb  8 16:00:56 2022
Index: 199, stock: RCL
Tue Feb  8 16:00:57 2022
Index: 200, stock: DXC
Tue Feb  8 16:00:57 2022
Index: 201, stock: ROP
Tue Feb  8 16:00:58 2022
Index: 202, stock: YUM
Tue Feb  8 16:00:58 2022
Index: 203, stock: TSN
Tue Feb  8 16:00:59 2022
Index: 204, stock: APH
Tue Feb  8 16:00:59 2022
Index: 205, stock: FISV
Tue Feb  8 16:01:00 2022
Index: 206, stock: DG
Tue Feb  8 16:01:00 2022
Index: 207, stock: HLT
Tue Feb  8 16:01:01 2022
Index: 208, stock: ALXN
Skipped: ALXN
Tue Feb  8 16:01:02 2022
Index: 209, stock: SRE
Tue Feb  8 16:01:03 2022
Index: 210, stock: WY
Tue Feb  8 16:01:05 2022
Index: 211, stock: FCX
Tue Feb  8 16:01:06 2022
Index: 212, stock: TROW
Tue Feb  8 16:01:07 2022
Index: 213, stock: GLW
Tue Feb  8 16:01:07 2022
Index: 214, stock: KR
Tue Feb  8 16:01:08 2022
Index: 215, stock: DLTR
Tue Feb  8 16:01:09 2022
Index: 216, stock: FTV
Tue Feb  8 16:01:09 2022
Index: 217, stock: APTV
Tue Feb  8 16:01:10 2022
Index: 218, stock: WMB
Tue Feb  8 16:01:11 2022
Index: 219, stock: HPE
Tue Feb  8 16:01:12 2022
Index: 220, stock: WDC
Tue Feb  8 16:01:13 2022
Index: 221, stock: AAL
Tue Feb  8 16:01:13 2022
Index: 222, stock: SWK
Tue Feb  8 16:01:14 2022
Index: 223, stock: IP
Tue Feb  8 16:01:14 2022
Index: 224, stock: ZBH
Tue Feb  8 16:01:15 2022
Index: 225, stock: PH
Tue Feb  8 16:01:15 2022
Index: 226, stock: ADSK
Tue Feb  8 16:01:16 2022
Index: 227, stock: PCAR
Tue Feb  8 16:01:17 2022
Index: 228, stock: PEG
Tue Feb  8 16:01:18 2022
Index: 229, stock: ROK
Tue Feb  8 16:01:18 2022
Index: 230, stock: ADM
Tue Feb  8 16:01:19 2022
Index: 231, stock: AMP
Tue Feb  8 16:01:20 2022
Index: 232, stock: ED
Tue Feb  8 16:01:20 2022
Index: 233, stock: PAYX
Tue Feb  8 16:01:20 2022
Index: 234, stock: NTRS
Tue Feb  8 16:01:21 2022
Index: 235, stock: RHT
Skipped: RHT
Tue Feb  8 16:01:21 2022
Index: 236, stock: IR
Tue Feb  8 16:01:22 2022
Index: 237, stock: KEY
Tue Feb  8 16:01:23 2022
Index: 238, stock: FITB
Tue Feb  8 16:01:23 2022
Index: 239, stock: COL
Skipped: COL
Tue Feb  8 16:01:24 2022
Index: 240, stock: K
Tue Feb  8 16:01:24 2022
Index: 241, stock: CXO
Skipped: CXO
Tue Feb  8 16:01:25 2022
Index: 242, stock: CFG
Tue Feb  8 16:01:25 2022
Index: 243, stock: OKE
Tue Feb  8 16:01:26 2022
Index: 244, stock: A
Tue Feb  8 16:01:26 2022
Index: 245, stock: AVB
Tue Feb  8 16:01:26 2022
Index: 246, stock: BEN
Tue Feb  8 16:01:27 2022
Index: 247, stock: MYL
Skipped: MYL
Tue Feb  8 16:01:27 2022
Index: 248, stock: RSG
Tue Feb  8 16:01:27 2022
Index: 249, stock: XEL
Tue Feb  8 16:01:28 2022
Index: 250, stock: RF
Tue Feb  8 16:01:29 2022
Index: 251, stock: ORLY
Tue Feb  8 16:01:29 2022
Index: 252, stock: DLR
Tue Feb  8 16:01:30 2022
Index: 253, stock: DPS
Skipped: DPS
Tue Feb  8 16:01:30 2022
Index: 254, stock: CERN
Tue Feb  8 16:01:30 2022
Index: 255, stock: DISH
Tue Feb  8 16:01:31 2022
Index: 256, stock: GGP
Skipped: GGP
Tue Feb  8 16:01:31 2022
Index: 257, stock: HCN
Skipped: HCN
Tue Feb  8 16:01:32 2022
Index: 258, stock: EQR
Tue Feb  8 16:01:32 2022
Index: 259, stock: HSY
Tue Feb  8 16:01:34 2022
Index: 260, stock: PPL
Tue Feb  8 16:01:34 2022
Index: 261, stock: BBY
Tue Feb  8 16:01:34 2022
Index: 262, stock: WLTW
Skipped: WLTW
Tue Feb  8 16:01:35 2022
Index: 263, stock: ABC
Tue Feb  8 16:01:35 2022
Index: 264, stock: CAH
Tue Feb  8 16:01:36 2022
Index: 265, stock: CBS
Skipped: CBS
Tue Feb  8 16:01:36 2022
Index: 266, stock: IQV
Tue Feb  8 16:01:36 2022
Index: 267, stock: PCG
Tue Feb  8 16:01:37 2022
Index: 268, stock: NUE
Tue Feb  8 16:01:37 2022
Index: 269, stock: HIG
Tue Feb  8 16:01:38 2022
Index: 270, stock: AZO
Tue Feb  8 16:01:38 2022
Index: 271, stock: MHK
Tue Feb  8 16:01:39 2022
Index: 272, stock: NEM
Tue Feb  8 16:01:39 2022
Index: 273, stock: EXPE
Tue Feb  8 16:01:40 2022
Index: 274, stock: MGM
Tue Feb  8 16:01:40 2022
Index: 275, stock: SBAC
Tue Feb  8 16:01:41 2022
Index: 276, stock: EIX
Tue Feb  8 16:01:41 2022
Index: 277, stock: MCHP
Tue Feb  8 16:01:41 2022
Index: 278, stock: UAL
Tue Feb  8 16:01:42 2022
Index: 279, stock: DVN
Tue Feb  8 16:01:42 2022
Index: 280, stock: WEC
Tue Feb  8 16:01:43 2022
Index: 281, stock: VTR
Tue Feb  8 16:01:43 2022
Index: 282, stock: ALGN
Tue Feb  8 16:01:44 2022
Index: 283, stock: SWKS
Tue Feb  8 16:01:44 2022
Index: 284, stock: PFG
Tue Feb  8 16:01:45 2022
Index: 285, stock: CTL
Skipped: CTL
Tue Feb  8 16:01:45 2022
Index: 286, stock: WYNN
Tue Feb  8 16:01:45 2022
Index: 287, stock: INCY
Tue Feb  8 16:01:46 2022
Index: 288, stock: HRS
Skipped: HRS
Tue Feb  8 16:01:46 2022
Index: 289, stock: ES
Tue Feb  8 16:01:50 2022
Index: 290, stock: CNC
Tue Feb  8 16:01:50 2022
Index: 291, stock: INFO
Tue Feb  8 16:01:52 2022
Index: 292, stock: DTE
Tue Feb  8 16:01:52 2022
Index: 293, stock: BXP
Tue Feb  8 16:01:53 2022
Index: 294, stock: DHI
Tue Feb  8 16:01:53 2022
Index: 295, stock: OMC
Tue Feb  8 16:01:54 2022
Index: 296, stock: HRL
Tue Feb  8 16:01:54 2022
Index: 297, stock: LH
Tue Feb  8 16:01:55 2022
Index: 298, stock: AME
Tue Feb  8 16:01:55 2022
Index: 299, stock: LNC
Tue Feb  8 16:01:59 2022
Index: 300, stock: XLNX
Tue Feb  8 16:01:59 2022
Index: 301, stock: VMC
Tue Feb  8 16:01:59 2022
Index: 302, stock: GPN
Tue Feb  8 16:02:00 2022
Index: 303, stock: HBAN
Tue Feb  8 16:02:00 2022
Index: 304, stock: CTAS
Tue Feb  8 16:02:01 2022
Index: 305, stock: MSI
Tue Feb  8 16:02:01 2022
Index: 306, stock: CLX
Tue Feb  8 16:02:02 2022
Index: 307, stock: SYMC
Skipped: SYMC
Tue Feb  8 16:02:02 2022
Index: 308, stock: WRK
Tue Feb  8 16:02:03 2022
Index: 309, stock: MTD
Tue Feb  8 16:02:04 2022
Index: 310, stock: CMA
Tue Feb  8 16:02:05 2022
Index: 311, stock: LLL
Tue Feb  8 16:02:06 2022
Index: 312, stock: L
Tue Feb  8 16:02:07 2022
Index: 313, stock: KLAC
Tue Feb  8 16:02:07 2022
Index: 314, stock: WAT
Tue Feb  8 16:02:08 2022
Index: 315, stock: ANDV
Skipped: ANDV
Tue Feb  8 16:02:09 2022
Index: 316, stock: TSS
Skipped: TSS
Tue Feb  8 16:02:09 2022
Index: 317, stock: VRSK
Tue Feb  8 16:02:10 2022
Index: 318, stock: DOV
Tue Feb  8 16:02:10 2022
Index: 319, stock: IDXX
Tue Feb  8 16:02:12 2022
Index: 320, stock: NTAP
Tue Feb  8 16:02:13 2022
Index: 321, stock: FAST
Tue Feb  8 16:02:13 2022
Index: 322, stock: TXT
Tue Feb  8 16:02:14 2022
Index: 323, stock: TDG
Tue Feb  8 16:02:14 2022
Index: 324, stock: APA
Tue Feb  8 16:02:14 2022
Index: 325, stock: URI
Tue Feb  8 16:02:15 2022
Index: 326, stock: GWW
Tue Feb  8 16:02:17 2022
Index: 327, stock: LEN
Tue Feb  8 16:02:17 2022
Index: 328, stock: GPC
Tue Feb  8 16:02:18 2022
Index: 329, stock: CBG
Skipped: CBG
Tue Feb  8 16:02:18 2022
Index: 330, stock: NWL
Tue Feb  8 16:02:18 2022
Index: 331, stock: HST
Tue Feb  8 16:02:19 2022
Index: 332, stock: ESS
Tue Feb  8 16:02:20 2022
Index: 333, stock: CAG
Tue Feb  8 16:02:20 2022
Index: 334, stock: TPR
Tue Feb  8 16:02:21 2022
Index: 335, stock: EMN
Tue Feb  8 16:02:21 2022
Index: 336, stock: CA
Skipped: CA
Tue Feb  8 16:02:22 2022
Index: 337, stock: FTI
Tue Feb  8 16:02:22 2022
Index: 338, stock: EFX
Tue Feb  8 16:02:22 2022
Index: 339, stock: STX
Tue Feb  8 16:02:23 2022
Index: 340, stock: HES
Tue Feb  8 16:02:23 2022
Index: 341, stock: AWK
Tue Feb  8 16:02:24 2022
Index: 342, stock: MRO
Tue Feb  8 16:02:24 2022
Index: 343, stock: LB
Skipped: LB
Tue Feb  8 16:02:24 2022
Index: 344, stock: O
Tue Feb  8 16:02:25 2022
Index: 345, stock: BLL
Tue Feb  8 16:02:26 2022
Index: 346, stock: MLM
Tue Feb  8 16:02:26 2022
Index: 347, stock: ETFC
Skipped: ETFC
Tue Feb  8 16:02:26 2022
Index: 348, stock: FE
Tue Feb  8 16:02:27 2022
Index: 349, stock: DVA
Tue Feb  8 16:02:27 2022
Index: 350, stock: ADS
Tue Feb  8 16:02:28 2022
Index: 351, stock: IVZ
Tue Feb  8 16:02:28 2022
Index: 352, stock: SJM
Tue Feb  8 16:02:29 2022
Index: 353, stock: DGX
Tue Feb  8 16:02:29 2022
Index: 354, stock: CPB
Tue Feb  8 16:02:30 2022
Index: 355, stock: MKC
Tue Feb  8 16:02:30 2022
Index: 356, stock: MAS
Tue Feb  8 16:02:31 2022
Index: 357, stock: XRAY
Tue Feb  8 16:02:32 2022
Index: 358, stock: NLSN
Tue Feb  8 16:02:32 2022
Index: 359, stock: ULTA
Tue Feb  8 16:02:33 2022
Index: 360, stock: RMD
Tue Feb  8 16:02:33 2022
Index: 361, stock: RJF
Tue Feb  8 16:02:34 2022
Index: 362, stock: CTXS
Tue Feb  8 16:02:34 2022
Index: 363, stock: NCLH
Tue Feb  8 16:02:35 2022
Index: 364, stock: NBL
Skipped: NBL
Tue Feb  8 16:02:35 2022
Index: 365, stock: ANSS
Tue Feb  8 16:02:36 2022
Index: 366, stock: ETR
Tue Feb  8 16:02:36 2022
Index: 367, stock: COTY
Tue Feb  8 16:02:37 2022
Index: 368, stock: CBOE
Tue Feb  8 16:02:37 2022
Index: 369, stock: JBHT
Tue Feb  8 16:02:38 2022
Index: 370, stock: NOV
Tue Feb  8 16:02:40 2022
Index: 371, stock: CHRW
Tue Feb  8 16:02:40 2022
Index: 372, stock: XYL
Tue Feb  8 16:02:41 2022
Index: 373, stock: AEE
Tue Feb  8 16:02:41 2022
Index: 374, stock: NDAQ
Tue Feb  8 16:02:41 2022
Index: 375, stock: TIF
Skipped: TIF
Tue Feb  8 16:02:42 2022
Index: 376, stock: VNO
Tue Feb  8 16:02:42 2022
Index: 377, stock: SNPS
Tue Feb  8 16:02:43 2022
Index: 378, stock: HAS
Tue Feb  8 16:02:43 2022
Index: 379, stock: GPS
Tue Feb  8 16:02:44 2022
Index: 380, stock: EQT
Tue Feb  8 16:02:44 2022
Index: 381, stock: LKQ
Tue Feb  8 16:02:45 2022
Index: 382, stock: PNR
Tue Feb  8 16:02:45 2022
Index: 383, stock: TAP
Tue Feb  8 16:02:45 2022
Index: 384, stock: PRGO
Tue Feb  8 16:02:46 2022
Index: 385, stock: WHR
Tue Feb  8 16:02:46 2022
Index: 386, stock: ARNC
Tue Feb  8 16:02:47 2022
Index: 387, stock: ARE
Tue Feb  8 16:02:47 2022
Index: 388, stock: WYN
Skipped: WYN
Tue Feb  8 16:02:47 2022
Index: 389, stock: AJG
Tue Feb  8 16:02:48 2022
Index: 390, stock: CINF
Tue Feb  8 16:02:48 2022
Index: 391, stock: CMS
Tue Feb  8 16:02:49 2022
Index: 392, stock: GRMN
Tue Feb  8 16:02:49 2022
Index: 393, stock: CHD
Tue Feb  8 16:02:49 2022
Index: 394, stock: KMX
Tue Feb  8 16:02:50 2022
Index: 395, stock: ALB
Tue Feb  8 16:02:50 2022
Index: 396, stock: DRI
Tue Feb  8 16:02:51 2022
Index: 397, stock: BWA
Tue Feb  8 16:02:51 2022
Index: 398, stock: PVH
Tue Feb  8 16:02:52 2022
Index: 399, stock: HSIC
Tue Feb  8 16:02:52 2022
Index: 400, stock: CNP
Tue Feb  8 16:02:53 2022
Index: 401, stock: SNI
Skipped: SNI
Tue Feb  8 16:02:53 2022
Index: 402, stock: COO
Tue Feb  8 16:02:54 2022
Index: 403, stock: FMC
Tue Feb  8 16:02:54 2022
Index: 404, stock: IFF
Tue Feb  8 16:02:54 2022
Index: 405, stock: UNM
Tue Feb  8 16:02:55 2022
Index: 406, stock: AMD
Tue Feb  8 16:02:55 2022
Index: 407, stock: HOLX
Tue Feb  8 16:02:56 2022
Index: 408, stock: UHS
Tue Feb  8 16:02:56 2022
Index: 409, stock: PKG
Tue Feb  8 16:02:56 2022
Index: 410, stock: EXPD
Tue Feb  8 16:02:57 2022
Index: 411, stock: KSU
Skipped: KSU
Tue Feb  8 16:02:57 2022
Index: 412, stock: HCP
Tue Feb  8 16:02:59 2022
Index: 413, stock: AKAM
Tue Feb  8 16:02:59 2022
Index: 414, stock: CDNS
Tue Feb  8 16:02:59 2022
Index: 415, stock: IT
Tue Feb  8 16:03:00 2022
Index: 416, stock: COG
Skipped: COG
Tue Feb  8 16:03:00 2022
Index: 417, stock: AOS
Tue Feb  8 16:03:01 2022
Index: 418, stock: VRSN
Tue Feb  8 16:03:01 2022
Index: 419, stock: XL
Tue Feb  8 16:03:01 2022
Index: 420, stock: VAR
Skipped: VAR
Tue Feb  8 16:03:02 2022
Index: 421, stock: ZION
Tue Feb  8 16:03:02 2022
Index: 422, stock: HII
Tue Feb  8 16:03:03 2022
Index: 423, stock: VIAB
Skipped: VIAB
Tue Feb  8 16:03:03 2022
Index: 424, stock: KSS
Tue Feb  8 16:03:05 2022
Index: 425, stock: AMG
Tue Feb  8 16:03:05 2022
Index: 426, stock: EXR
Tue Feb  8 16:03:06 2022
Index: 427, stock: RE
Tue Feb  8 16:03:06 2022
Index: 428, stock: AVY
Tue Feb  8 16:03:07 2022
Index: 429, stock: XEC
Skipped: XEC
Tue Feb  8 16:03:07 2022
Index: 430, stock: KORS
Skipped: KORS
Tue Feb  8 16:03:07 2022
Index: 431, stock: MAA
Tue Feb  8 16:03:08 2022
Index: 432, stock: QRVO
Tue Feb  8 16:03:09 2022
Index: 433, stock: REG
Tue Feb  8 16:03:10 2022
Index: 434, stock: MOS
Tue Feb  8 16:03:10 2022
Index: 435, stock: FBHS
Tue Feb  8 16:03:11 2022
Index: 436, stock: TMK
Skipped: TMK
Tue Feb  8 16:03:11 2022
Index: 437, stock: SNA
Tue Feb  8 16:03:11 2022
Index: 438, stock: NWS
Tue Feb  8 16:03:13 2022
Index: 439, stock: IRM
Tue Feb  8 16:03:13 2022
Index: 440, stock: NWSA
Tue Feb  8 16:03:14 2022
Index: 441, stock: JEC
Skipped: JEC
Tue Feb  8 16:03:14 2022
Index: 442, stock: JNPR
Tue Feb  8 16:03:14 2022
Index: 443, stock: CF
Tue Feb  8 16:03:15 2022
Index: 444, stock: UDR
Tue Feb  8 16:03:15 2022
Index: 445, stock: DRE
Tue Feb  8 16:03:16 2022
Index: 446, stock: WU
Tue Feb  8 16:03:16 2022
Index: 447, stock: LUK
Skipped: LUK
Tue Feb  8 16:03:17 2022
Index: 448, stock: PHM
Tue Feb  8 16:03:17 2022
Index: 449, stock: DISCA
Tue Feb  8 16:03:18 2022
Index: 450, stock: RL
Tue Feb  8 16:03:19 2022
Index: 451, stock: FFIV
Tue Feb  8 16:03:19 2022
Index: 452, stock: LNT
Tue Feb  8 16:03:20 2022
Index: 453, stock: SLG
Tue Feb  8 16:03:20 2022
Index: 454, stock: MAC
Tue Feb  8 16:03:21 2022
Index: 455, stock: TSCO
Tue Feb  8 16:03:21 2022
Index: 456, stock: PNW
Tue Feb  8 16:03:22 2022
Index: 457, stock: PKI
Tue Feb  8 16:03:22 2022
Index: 458, stock: DISCK
Tue Feb  8 16:03:23 2022
Index: 459, stock: IPG
Tue Feb  8 16:03:23 2022
Index: 460, stock: GT
Tue Feb  8 16:03:24 2022
Index: 461, stock: JWN
Tue Feb  8 16:03:24 2022
Index: 462, stock: HOG
Tue Feb  8 16:03:24 2022
Index: 463, stock: AAP
Tue Feb  8 16:03:25 2022
Index: 464, stock: FRT
Tue Feb  8 16:03:25 2022
Index: 465, stock: NRG
Tue Feb  8 16:03:26 2022
Index: 466, stock: HBI
Tue Feb  8 16:03:26 2022
Index: 467, stock: SEE
Tue Feb  8 16:03:27 2022
Index: 468, stock: FLR
Tue Feb  8 16:03:27 2022
Index: 469, stock: XRX
Tue Feb  8 16:03:28 2022
Index: 470, stock: ALK
Tue Feb  8 16:03:28 2022
Index: 471, stock: NI
Tue Feb  8 16:03:29 2022
Index: 472, stock: CMG
Tue Feb  8 16:03:29 2022
Index: 473, stock: ALLE
Tue Feb  8 16:03:29 2022
Index: 474, stock: M
Tue Feb  8 16:03:30 2022
Index: 475, stock: HP
Tue Feb  8 16:03:30 2022
Index: 476, stock: BHF
Tue Feb  8 16:03:31 2022
Index: 477, stock: RHI
Tue Feb  8 16:03:31 2022
Index: 478, stock: AES
Tue Feb  8 16:03:32 2022
Index: 479, stock: FLIR
Skipped: FLIR
Tue Feb  8 16:03:32 2022
Index: 480, stock: PBCT
Tue Feb  8 16:03:32 2022
Index: 481, stock: AYI
Tue Feb  8 16:03:33 2022
Index: 482, stock: SRCL
Tue Feb  8 16:03:33 2022
Index: 483, stock: KIM
Tue Feb  8 16:03:34 2022
Index: 484, stock: AIV
Tue Feb  8 16:03:34 2022
Index: 485, stock: LEG
Tue Feb  8 16:03:34 2022
Index: 486, stock: UAA
Tue Feb  8 16:03:35 2022
Index: 487, stock: MAT
Tue Feb  8 16:03:35 2022
Index: 488, stock: FL
Tue Feb  8 16:03:36 2022
Index: 489, stock: TRIP
Tue Feb  8 16:03:36 2022
Index: 490, stock: NFX
Skipped: NFX
Tue Feb  8 16:03:36 2022
Index: 491, stock: BF.B
Skipped: BF.B
Tue Feb  8 16:03:37 2022
Index: 492, stock: FLS
Tue Feb  8 16:03:37 2022
Index: 493, stock: HRB
Tue Feb  8 16:03:37 2022
Index: 494, stock: UA
Tue Feb  8 16:03:38 2022
Index: 495, stock: PWR
Tue Feb  8 16:03:38 2022
Index: 496, stock: SCG
Skipped: SCG
Tue Feb  8 16:03:39 2022
Index: 497, stock: CSRA
Skipped: CSRA
Tue Feb  8 16:03:39 2022
Index: 498, stock: AIZ
Tue Feb  8 16:03:39 2022
Index: 499, stock: EVHC
Skipped: EVHC
Tue Feb  8 16:03:40 2022
Index: 500, stock: NAVI
Tue Feb  8 16:03:40 2022
Index: 501, stock: RRC
Tue Feb  8 16:03:41 2022
Index: 502, stock: PDCO
Tue Feb  8 16:03:41 2022

In [37]:
# Add to DB, CAREFUL
# Merged_CSSO.to_sql('SP500 CSSO', engine)

In [20]:
engine.table_names()

C:\Users\canav\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['SP500 CSSO',
 'SP500 Cons Adjusted',
 'SP500 Cons Closing',
 'SP500_Cons',
 'SP500_MC']